@use "../../util/variables.scss" as v;
@use "../../util/mixins.scss" as m;

.repos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    padding-block: 2em;

    @include m.respond-to('tablet') {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    &-loader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5em;
    }
}